@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

.Initial{
  width: 100vw;
  height: 95vh;
  background-image: linear-gradient(to right bottom,#b20ecf46,#ca5ad72f),url('https://raw.githubusercontent.com/Laboratoria/CDMX012-gym/main/session-16/exercises/rocket-lab-web/assets/spacex.jpg'
  );
  clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
  position: relative;
  background-size: cover;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.titles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
}

.Rocket {
  width: 96vw;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 75%);
  z-index: -1;
  margin: 1.5em;
  
}

.RocketTitle{
  position: center;
  z-index: 1;
  color: white;
  font-family: lato, sans-serif;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: .5em;

}
.RocketSubtitle{
  position: center;
  z-index: 1;
  color: white;
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: .3em;
  margin-top: 0;
}

.startButton{
  width: 10em;
  height: 4em;
  border-radius: 25px;
  border-color: transparent;
  color: #5A5A5A;
  font-family: sans-serif;
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
